// Google Fonts
// {
//   "Roboto": [300, 500, 700],
//   "Zen Kaku Gothic New": [300, 500, 700]
// }
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html {
  font-family: "Josefin Sans", "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
