h1 {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  margin: 10px 0;

  &.indent {
    text-indent: 1rem;
  }

  &.center {
    text-align: center;
  }

  strong {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

a {
  color: #2449dc;
  text-decoration: underline;
}